@import url('https://fonts.googleapis.com/css?family=Chewy');

@mixin position {
  display: flex;
  justify-content: center;
}

body {
  font-family: "chewy", sans-serif;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.main-home {
  background-image: url(../img/mountains.png);
  background-repeat: no-repeat;
}

.buttonCredit {
  float: right;
  margin-left: 1300px;
  margin-top: -190px;
  z-index: 2;
}

.girl {
  width: 390px;
  height: 510px;
  float: right;
  margin-left: 460px;
  margin-top: 0px;
  z-index: 1;
}

header {
  .title {
    margin-top: 20px;
    @include position();
    img {
      width: 300px;
      height: 250px;
    }
  }
}

section {
  align-items: center;
  flex: 1 0 auto;
  flex-direction: column;
  @include position();
  .buttons div{
    margin-bottom: 35px;
  }
}

.body__consign {
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}

.consign__space {
  text-transform: uppercase;
  animation-duration: .7s;
    animation-name: Blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.buttonHelp {
  float: left;
  margin-left: 800px;
  margin-top: 80px;
}

footer{
  @include position();
  padding-top: 50px;
  padding-bottom: 15px;
}

.button {
  background: linear-gradient(to right, #88245F 0%, #942D6A 51%, #61093C 100%);
  border-radius: 10px;
  border: 1px solid #61093C;
  display: inline-block;
  cursor: pointer;
  color:#ffffff;
  font-size: 22px;
  text-decoration: none;
  font-family: "chewy", sans-serif;
  width: 100px;
  height: 65px;
  transition: transform 0.2s;
}
.button:hover {
  transform: scale(1.2); 
}

@keyframes Blink {
  from {
    opacity: 1;
  }
    to {
    opacity: 0;
  }
}